body{
    background-image: url(hatter.jpg);
    color: white;
    font-size: 25px;
}
main{
    max-width: 800px;
}
main {
    margin: auto;
}
header {
    font-weight: bold;
    margin: auto;
}
fieldset {
    border: solid 5px white;
}
legend {
    font-weight: bold;
}
#gomb:hower {
    background: pink;
}
